---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kube-prometheus-stack
  namespace: monitoring
spec:
  chart:
    spec:
      chart: kube-prometheus-stack
      interval: 60m
      sourceRef:
        kind: HelmRepository
        name: prometheus-community-charts
        namespace: flux-system
      version: 70.5.0
  dependsOn:
    - name: longhorn
      namespace: storage
  install:
    remediation:
      retries: 3
  interval: 60m
  upgrade:
    force: true
    remediation:
      retries: 3
  values:
    node-exporter:
      serviceMonitor:
        relabelings:
          - sourceLabels: [__meta_kubernetes_pod_node_name]
            separator: ;
            regex: ^(.*)$
            targetLabel: nodename
            replacement: $1
            action: replace
          - sourceLabels: [nodename]
            targetLabel: instance
            regex: "([^:]+)(:[0-9]+)?"
            replacement: "${1}"
    fullnameOverride: prometheus
    defaultRules:
      rules:
        kubeProxy: false
    alertmanager:
      enabled: true
    grafana:
      enabled: false
      forceDeployDashboards: true
    kube-state-metrics:
      fullnameOverride: kube-state-metrics
      releaseLabel: true
    kubeApiServer:
      enabled: true
    kubeControllerManager:
      enabled: true
    kubeEtcd:
      enabled: false
    kubeProxy:
      enabled: false
    kubeScheduler:
      enabled: false
    kubelet:
      enabled: true
    nameOverride: ""
    prometheus:
      ingress:
        enabled: false
      prometheusSpec:
        enableAdminAPI: true
        replicaExternalLabelName: replica
        ruleSelectorNilUsesHelmValues: false
        serviceMonitorSelectorNilUsesHelmValues: false
        podMonitorSelectorNilUsesHelmValues: false
        probeSelectorNilUsesHelmValues: false
        replicas: 1
        retention: 6h
        storageSpec:
          volumeClaimTemplate:
            spec:
              resources:
                requests:
                  storage: 10Gi
              storageClassName: longhorn
        walCompression: true
      thanosService:
        enabled: true
      thanosServiceMonitor:
        enabled: true
    prometheus-node-exporter:
      fullnameOverride: node-exporter
    prometheusOperator:
      prometheusConfigReloaderImage:
        resources:
          limits:
            cpu: 500m
            memory: 200Mi
          requests:
            cpu: 200m
            memory: 100Mi
