---
- name: Update packages
  ansible.builtin.apt:
    update_cache: yes
    upgrade: dist

- name: Install common packages
  ignore_errors: true
  ansible.builtin.apt:
    name: "{{ item }}"
    state: present
  with_items:
    - apt-transport-https
    - ca-certificates
    - htop
    - git
    - lnav
    - manpages
    - mosh
    - net-tools
    - nfs-common
    - open-iscsi
    - openssl
    - pciutils
    - postfix
    - ntp
    - ntpdate
    - ntpsec-ntpdate
    - rsync
    - screen
    - tmux
    - tree
    - tzdata
    - ufw
    - unzip
    - util-linux
    - vim
    - zsh

- name: Uninstall useless packages
  ansible.builtin.apt:
    name: "{{ item }}"
    state: absent
  with_items:
    - ifupdown
    - dhcpcd5
    - isc-dhcp-client
    - isc-dhcp-common
    - rsyslog
    - raspberrypi-net-mods
    - openresolv

- name: Put networks packages on hold
  ignore_errors: true
  ansible.builtin.dpkg_selections:
    name: "{{ item }}"
    selection: hold
  with_items:
    - ifupdown
    - dhcpcd5
    - isc-dhcp-client
    - isc-dhcp-common
    - rsyslog
    - raspberrypi-net-mods
    - openresolv
