---
all:
  children:
    k3s_masters:
      hosts:
        sam:
          ansible_host: 192.168.1.10
    k3s_workers:
      hosts:
        merry:
          ansible_host: 192.168.1.11
        pippin:
          ansible_host: 192.168.1.12
        gimli:
          ansible_host: 192.168.1.13
        theoden:
          ansible_host: 192.168.1.14
        frodon:
          ansible_host: 192.168.1.15
    k3s_cluster:
      children:
        k3s_masters:
          hosts:
        k3s_workers:
          hosts:
