---
apiVersion: discovery.k8s.io/v1
kind: EndpointSlice
metadata:
  name: nas
  namespace: networking
addressType: IPv4
endpoints:
  - addresses:
      - {{NAS_ADDRESS}}
ports:
  - port: 5001
---
apiVersion: discovery.k8s.io/v1
kind: EndpointSlice
metadata:
  name: webdav
  namespace: networking
addressType: IPv4
endpoints:
  - addresses:
      - {{NAS_ADDRESS}}
ports:
  - port: 5006
